altair
astor
asttokens
certifi
charset-normalizer
fonttools
huggingface-hub
idna
ipython
itsdangerous
jedi
jsonschema
matplotlib
matplotlib-inline
numpy
openai
openpyxl
packaging
pandas
pandas-stubs
pandasai
Pillow
proto-plus
protobuf
streamlit

